/* Coolors Exported Palette - https://coolors.co/483d3f-058ed9-f4ebd9-a39a92-77685d */

/* CSS HEX */
--van-dyke: #483d3fff;
--celestial-blue: #058ed9ff;
--eggshell: #f4ebd9ff;
--battleship-gray: #a39a92ff;
--umber: #77685dff;

/* CSS HSL */
--van-dyke: hsla(349, 8%, 26%, 1);
--celestial-blue: hsla(201, 95%, 44%, 1);
--eggshell: hsla(40, 55%, 90%, 1);
--battleship-gray: hsla(28, 8%, 61%, 1);
--umber: hsla(25, 12%, 42%, 1);

/* SCSS HEX */
$van-dyke: #483d3fff;
$celestial-blue: #058ed9ff;
$eggshell: #f4ebd9ff;
$battleship-gray: #a39a92ff;
$umber: #77685dff;

/* SCSS HSL */
$van-dyke: hsla(349, 8%, 26%, 1);
$celestial-blue: hsla(201, 95%, 44%, 1);
$eggshell: hsla(40, 55%, 90%, 1);
$battleship-gray: hsla(28, 8%, 61%, 1);
$umber: hsla(25, 12%, 42%, 1);

/* SCSS RGB */
$van-dyke: rgba(72, 61, 63, 1);
$celestial-blue: rgba(5, 142, 217, 1);
$eggshell: rgba(244, 235, 217, 1);
$battleship-gray: rgba(163, 154, 146, 1);
$umber: rgba(119, 104, 93, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-right: linear-gradient(90deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-bottom: linear-gradient(180deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-left: linear-gradient(270deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-top-right: linear-gradient(45deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-bottom-right: linear-gradient(135deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-top-left: linear-gradient(225deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-bottom-left: linear-gradient(315deg, #483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);
$gradient-radial: radial-gradient(#483d3fff, #058ed9ff, #f4ebd9ff, #a39a92ff, #77685dff);